h1{
    font-size: 30px;
}

h2{
    font-size: 30px; 
    margin: 30;
}

body{
    background-image: url("https://cdn.push-entertainment.com/HD/Soft-Shines-3D-Live-Wallpaper.jpg");
    background-repeat: no-repeat;
    /* background-size: cover;
    background-size: auto 110vh; */
    color: red;
}
ul{
    list-style-type: none;
    padding: 0;
}

p{
    font-size: 28px;
}

#user1{
    margin: auto;
    width: 50%;
    text-align: center;
}

a{
    color: hotpink;
}

h5{
    font-size: 30px;
}

#user{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: hotpink;
}

p{
    color: black;
}

#user2{
    position: absolute;
    left: -10px;
    width: 200px;
    height: 120px;
    border: 0px solid green;
    color: silver;
}

p:hover{
    color: white;
    

}

#user3{
    position: absolute;
    right: 100px;
    width: 250px;
    height: 100px;
    border: 0px solid green;
    color: goldenrod;
    font-size: 50px;
}

@media screen and (max-width: 400px) {
    p {
      color: white;
    }
  }
