h1{
    color: redd;
    font-size: 30px;
}

h2{
    font-size: 30px; 
    margin: 30;
}

body{
    background-image: url("https://images3.alphacoders.com/771/771215.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto 100vh;
    color: white;
}